@tailwind base;
@tailwind components;
@tailwind utilities;
.cl-avatarBox{
  width: 40px;
  height:40px;
}
@media (max-width:550px) {
  .image-footer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}